@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentals_GOhman</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @{
        @if (string.IsNullOrEmpty(Context.Session.GetString("style")) || Context.Session.GetString("style") == "new")
        {
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        }
        @if (Context.Session.GetString("style") == "retro")
        {
            <link rel="stylesheet" href="~/css/siteRetro.css" asp-append-version="true" />
        }
    }
    <link rel="stylesheet" href="~/FribergCarRentals_GOhman.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/9092ca5d2a.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="height: 3em; width: 3em;" src="~/Friberg_LOGO.PNG" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="position-absolute end-0 d-flex align-items-center" style="top: 20%; left: 50%; transform: translateY(-50%);">
                @{
                    if (SessionHelper.CheckSessionLogin(Context))
                    {
                        <h6 style="color: red;">ADMIN ACCESS!</h6>
                    }
                }
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        if (string.IsNullOrEmpty(Context.Session.GetString("style")) || Context.Session.GetString("style") == "new")
                        {
                            <a asp-controller="Home" asp-action="Toggle"><i class="fa-solid fa-moon style-switch"></i> </a>
                        }
                        if (Context.Session.GetString("style") == "retro")
                        {
                            <a asp-controller="Home" asp-action="Toggle"><i class="fa-regular fa-moon style-switch"></i> </a>
                        }
                    }
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Car" asp-action="Index">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Booking" asp-action="Index">Bookings</a>
                        </li>
                    </ul>

                    <div class="position-absolute end-0 d-flex align-items-center" style="top: 50%; transform: translateY(-50%);">

                        @{
                            if (SessionHelper.CheckSessionLogin(Context))
                            {
                                <div class="nav-item login-nav">
                                    <a class="text-dark btn btn-danger" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                </div>
                            }
                            else
                            {
                                <div class="nav-item login-nav">
                                    <a class="text-dark btn btn-primary" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="box-stuff">
                @RenderBody()
                
            </div>
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FribergCarRentals_GOhman
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
