@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="index-logo" src="~/Friberg_LOGO.PNG" alt="white logo">
    <br />
    <a asp-action="MockData" class="btn btn-primary">Add MockData</a>
</div>
