@model FribergCarRentals_GOhman.Models.Booking

<h3>Active booking</h3>

<form asp-action="Activate">
    <input type="hidden" asp-for="Id" />
    <input class="btn btn-primary" type="submit" value="Activate" />
    <a class="btn btn-danger" asp-action="Index">Cancel</a>
</form>