@model FribergCarRentals_GOhman.Models.Booking;


@{
    ViewData["Title"] = "Success!";
}

<h1>Success!</h1>

<p>
    car @Model.Car.Model is booked @Model.StartDate and @Model.StopDate
</p>
    <a class="btn btn-link" asp-action="Index">Return</a>

