@model FribergCarRentals_GOhman.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" >
    <input type="hidden" asp-for="StartDate" />
    <input type="hidden" asp-for="StopDate" />
    <input type="hidden" asp-for="CarId" />
    <input type="hidden" asp-for="Car"/>

    <h5>Booking:</h5>
    <ul>
        <li>@Model.StartDate</li>
        <li>@Model.StopDate</li>
        <li>@Model.Car.Model</li>
    </ul>
    <input type="submit" value="Confirm" class="btn btn-primary"/>
    <a class="btn btn-danger" asp-action="Index">Cancel</a>
    <a class="btn btn-primary" asp-action="SelectDate">Change date</a>
    

</form>