h1 {
    margin-bottom: 1em;
}

body {
    background-color: #b9bfc2;
}

.box-stuff {
    min-height: 90vh;
    padding: 2em;
    background-color: #e3ebee;
}

footer {
    background-color: #f8f9fa;
}

.alert {
    margin: 1em 0;
    max-width: 30em;
}

.form-group {
    margin-bottom: 0.5em;
}

    .form-group select {
        margin-bottom: 0.5em;
    }

.mt-auto {
    margin-top: auto;
}

html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

.dropdown-custom {
    min-width: 10em;
}

.index-logo {
    height: 60%;
    width: 60%;
}

.login-form {
    margin: 0 auto;
}

header {
    background-color: #e3ebee;
    border-bottom: solid;
    border-color: #f49f22;
    margin-bottom: 1em;
}

.nav-item {
    margin: 0 1em;
}

.img-thumbnail {
    max-height: 5em;
    max-width: 8em;
}

.img-gallery {
    height: 20em;
    width: 30em;
}

input {
    max-width: 30em;
}



.login-nav {
    margin: 0 2em;
    float: right;
}

.nav-item:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px;
}

.btn {
    margin-top: 0.5em;
    min-width: 5em;
}

.btn-link {
}

    .btn-link:hover {
        background-color: #d0d7d9;
    }

.card-img-custom {
    height: 200px;
}

.card {
    margin: 1em 0;
    width: 16em;
    padding-bottom: 1px;
}

.card-footer {
}

.card-container {
    padding-right: 1em;
}


.transition {
    animation-name: transitionFrames;
    animation-duration: 0.5s;
}

@keyframes transitionFrames {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
